<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Zhi-Wei Cai</string>
	<key>Builder Version</key>
	<string>10600.5.17</string>
	<key>CFBundleDisplayName</key>
	<string>PTT 自動分級確認</string>
	<key>CFBundleIdentifier</key>
	<string>vg.vox.ptt-18plus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>ptt.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>網頁版 PTT 自動確認已滿十八歲並進入文章。（未滿十八歲者請勿安裝！）</string>
	<key>DeveloperIdentifier</key>
	<string>928652TY3Y</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.ptt.cc</string>
				<string>ptt.cc</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://vox.vg/apps/ptt-18plus/updates.plist</string>
	<key>Website</key>
	<string>http://vox.vg/apps/ptt-18plus/</string>
</dict>
</plist>
